---
---
<div class="clouds" aria-hidden="true">
  <svg class="cloud c1" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 55 Q0 55 8 38 Q0 20 25 22 Q32 5 55 12 Q75 0 90 18 Q115 8 125 28 Q155 25 155 48 Q175 50 170 65 Q150 72 100 68 Q55 72 20 65 Z" fill="#FFFFFF" stroke="#1A1A1A" stroke-width="2.5" stroke-linejoin="round"/>
  </svg>
  <svg class="cloud c2" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 55 Q0 55 8 38 Q0 20 25 22 Q32 5 55 12 Q75 0 90 18 Q115 8 125 28 Q155 25 155 48 Q175 50 170 65 Q150 72 100 68 Q55 72 20 65 Z" fill="#FFFFFF" stroke="#1A1A1A" stroke-width="2.5" stroke-linejoin="round"/>
  </svg>
  <svg class="cloud c3" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 55 Q0 55 8 38 Q0 20 25 22 Q32 5 55 12 Q75 0 90 18 Q115 8 125 28 Q155 25 155 48 Q175 50 170 65 Q150 72 100 68 Q55 72 20 65 Z" fill="#FFFFFF" stroke="#1A1A1A" stroke-width="2.5" stroke-linejoin="round"/>
  </svg>
  <svg class="cloud c4" viewBox="0 0 200 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 55 Q0 55 8 38 Q0 20 25 22 Q32 5 55 12 Q75 0 90 18 Q115 8 125 28 Q155 25 155 48 Q175 50 170 65 Q150 72 100 68 Q55 72 20 65 Z" fill="#FFFFFF" stroke="#1A1A1A" stroke-width="2.5" stroke-linejoin="round"/>
  </svg>
</div>
